:root {
    margin: 0;
    padding: 0;

    background-color: var(--bg-color);
    --bg-color:#06d4f0;
    --text-color: #ffffff;
    --text-secondary:#000000;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
body div{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;
}
h1 {
    color: var(--text-secondary);
    text-align: center;
    font-size: 5rem;
}
button{
    width: 150px;
    height: 150px;
    border-radius: 15px;
    box-shadow:#6f00ff 2px 2px 2px ;
}
button:hover{
    transform: scale(103%);
    box-shadow:#4102ee 4px 4px 4px ;
}
.guia{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin:30px
}
.guia ul{
    margin: 5px;
    font-size: 1.5rem;
}